<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>CMS</title>
</head>
<body>
  <header>
    <% if session[:message] %>
      <p><strong><%= session.delete(:message) %></strong></p>
    <% end %>
  </header>
  <%== yield %>
</body>
</html>
