<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <title>CMS</title>
  <link rel="stylesheet" href="/stylesheets/cms.css">
</head>
<body>
  <header>
    <% if session[:message] %>
      <p class="flash-message"><strong><%= session.delete(:message) %></strong></p>
    <% end %>
  </header>
  <%== yield %>
</body>
</html>
